/BaseDeDatos
/BDConEspectrograma
/Arquitecturas/ArquitecturaConvolucional/ModeloMejoresHiperparametros
/Arquitecturas/ArquitecturaConvolucional/ModelosCheckpointsMejoresHiperparametros
/Arquitecturas/ArquitecturaConvolucional/ModelosCheckpointsOptuna
/Arquitecturas/ArquitecturaRecurrente/ModeloMejoresHiperparametros
/Arquitecturas/ArquitecturaRecurrente/ModelosCheckpointsMejoresHiperparametros
/Arquitecturas/ArquitecturaRecurrente/ModelosCheckpointsOptuna